# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Backend (Ruby on Rails)
backend/tmp/
backend/log/
backend/storage/
backend/.env
backend/.env.*
backend/vendor/bundle/
backend/public/packs/
backend/public/packs-test/
backend/node_modules/
backend/frontend/node_modules/
backend/frontend/dist/

.idea/
